@charset "utf-8";
/*!
 * @名称：layout.css
 * @功能：自定义样式
 * @日期：2014-05-22
 */

.w960 {max-width:800px;margin:auto;min-height:100%;margin: 0 auto;}
.w330 {width: 330px;margin: 0 auto;}
.c7b {color: #7B7B7B;}
.c46 {color: #4677BD;}
.f16 {font-size: 16px;}

/* header */
#loginBar {background-color: #2B2B2B;line-height: 36px;}
#loginBar a {color:#707070;}
.sp {color:#707070;margin: 0 2px;}
#headBox {background-color: #525255; max-width:800px;margin:0 auto; padding:0; border:0;}
#navs a {color: #EBEBEB;font-size: 18px;line-height: 60px;display: inline-block;margin-left: 2em;}
#navs a.active,#navs a:hover {text-decoration: none;color: #96E443;}

/* container */
.container {border: 1px solid #C5C5C5;border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px;box-shadow: 0 0 3px #ccc;-webkit-box-shadow: 0 0 3px #ccc;}
#processor {background-color: #565656;padding: 15px 70px;position: relative;}
#step1 {display: block;}
.processorBox li {float: left;width:33.333%;}
.content {background-color: #ffffff;}
.frm_control_group {padding-bottom:25px;}
.frm_label {width: 6em;float: left;margin-right: 1em;line-height: 35px;}
.frm_controls {display: table-cell;float: none;vertical-align: top;width: auto;}
.frm_input,.frm_textarea {width: 300px;outline: 0 none;border: 1px solid #C5C5C5;height: 38px;line-height: 35px;vertical-align: middle;border-radius: 3px;-webkit-border-radius: 5px;-moz-border-radius: 5px;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.06) inset;padding: 0 10px;}
.frm_input:focus,.frm_textarea:focus {border: 1px solid #4677BD;box-shadow: 0 0 5px #ddd;-webkit-box-shadow: 0 0 5px #ddd;}
.frm_tips {color: #C1C2C3;padding-top: 4px;width: 320px;}
.verifycode .frm_input {width: 98px;}
.verifycode img {height: 37px;vertical-align: middle;}
.changeVerifyCode {color: #4677BD;margin-left: 3px;}
.toolBar {margin-top: 15px;padding: 25px 0 0 98px;box-shadow: 0 1px 0 #FBFBFB inset;-webkit-box-shadow: 0 1px 0 #FBFBFB inset; text-align:center;}
.btn {border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;cursor: pointer;display: inline-block;font-size: 14px;height: 35px;line-height: 35px;overflow: visible;padding: 0 36px;text-align: center;text-decoration: none;vertical-align: middle;}
.btn_primary {background-color: #4AAF33;color: #FFFFFF;border: 1px solid #3EAC27;}
.btn_default {background-color: #F1F1F1;color: #000000;border: 1px solid #D1D1D1;}
.btn:hover {text-decoration: none;}
.phoneYzm {width: 145px;}


table.table1{
	width:100%;
    font-family: "Trebuchet MS", sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
}
.table1 thead th{
    padding:15px;
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    border:1px solid #93CE37;
    border-bottom:3px solid #9ED929;
    background-color:#9DD929;
    background:-webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.02, rgb(123,192,67)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(158,217,41))
        );
    background: -moz-linear-gradient(
        center bottom,
        rgb(123,192,67) 2%,
        rgb(139,198,66) 51%,
        rgb(158,217,41) 87%
        );
    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{
    color:#fff;
    text-shadow:1px 1px 1px #568F23;
    background-color:#9DD929;
    border:1px solid #93CE37;
    border-right:3px solid #9ED929;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background: -moz-linear-gradient(
        left bottom,
        rgb(158,217,41) 2%,
        rgb(139,198,66) 51%,
        rgb(123,192,67) 87%
        );
    -moz-border-radius:5px 0px 0px 5px;
    -webkit-border-top-left-radius:5px;
    -webkit-border-bottom-left-radius:5px;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#DEF3CA;
    border: 2px solid #E7EFE0;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
    text-shadow:1px 1px 1px #fff;
}
.table1 tbody span.check::before{
    content : url(../images/check0.png)
}
