<?xml version="1.0"?>
<!DOCTYPE struts PUBLIC
    "-//Apache Software Foundation//DTD Struts Configuration 2.1.7//EN"
    "http://struts.apache.org/dtds/struts-2.1.7.dtd">
<struts>
    <package name="settings" namespace="/settings" extends="struts-default">
    			   
        <action name="settingsAction_*" class="cn.itcast.action.settings.SettingsAction" method="{1}">
      
            <result name="adminsettings">/WEB-INF/settings/settings_index.jsp</result>
          
            
        </action>
    </package>
</struts>